*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Roboto, Segoe UI, sans-serif;
  color: #0E1029;
}
a {
  color: inherit;
  text-decoration: none;
}
