@font-face {
  font-family: 'FT Switch';
  src: url('/fonts/FTSwitch-Regular.woff2') format('woff2'),
  url('/fonts/FTSwitch-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FT Switch';
  src: url('/fonts/FTSwitch-Medium.woff2') format('woff2'),
  url('/fonts/FTSwitch-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 0 40px;
  font-family: 'FT Switch', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 425px) {
  body {
    padding: 0 10px;
  }
}

a {
  color: black;
  text-decoration: none;
}